<section class="container editar-pensamentos ff-inter">
  <header class="header">
      <h2>Adicione um <br> pensamento novo:</h2>
  </header>
  <form [formGroup]="thoughtForm" *ngIf="thoughtForm">
    <label for="thought">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="thought"
      formControlName="content"
      placeholder="Digite o pensamento"
    >
    <div class="error_message"
      *ngIf="thoughtForm.get('content')?.errors?.['required'] && thoughtForm.get('content')?.touched">
      Pensamento é obrigatório!
    </div>

    <label for="thought">Autoria ou fonte</label>
    <input
      type="textarea"
      class="input"
      id="authorship"
      formControlName="authorship"
      placeholder="Digite a autoria ou fonte"
    >
    <div class="error_message"
      *ngIf="thoughtForm.get('authorship')?.errors?.['required'] && thoughtForm.get('authorship')?.touched">
      Autoria é obrigatória!
    </div>
    <div class="error_message"
      *ngIf="thoughtForm.get('authorship')?.errors?.['minlength'] && thoughtForm.get('authorship')?.touched">
      Autoria precisa ter no mínimo 3 caracteres!
    </div>
    <div class="error_message"
      *ngIf="thoughtForm.get('authorship')?.errors?.['lowercase'] && thoughtForm.get('authorship')?.touched">
      Esse campo aceita apenas letras minúsculas!
    </div>

    <label for="model">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="model1">
          <input type="radio"
            id="model1"
            value="modelo1"
            formControlName="model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/img/modelo1.png" alt="Blue quotes">
          <p class="conteudo">{{ thoughtForm.get('content')?.value }}</p>
          <p class="autoria"><b>{{ thoughtForm.get('authorship')?.value }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="model2">
          <input type="radio"
            id="model2"
            value="modelo2"
            formControlName="model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/img/modelo2.png" alt="Light blue quotes">
          <p class="conteudo">{{ thoughtForm.get('content')?.value }}</p>
          <p class="autoria"><b>{{ thoughtForm.get('authorship')?.value }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="model3">
          <input type="radio"
            id="model3"
            value="modelo3"
            formControlName="model"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/img/modelo3.png" alt="Green quotes">
          <p class="conteudo">{{ thoughtForm.get('content')?.value }}</p>
          <p class="autoria"><b>{{ thoughtForm.get('authorship')?.value }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button class="botao" routerLink="/listThought">Cancelar</button>
      <button
        (click)="editThought()"
        [disabled]="!thoughtForm.valid"
        [ngClass]="enableButton()"
      >
        Salvar
      </button>
    </div>
  </form>
</section>
